<form action="/get_file" method="post" >
    <label for="gender">Choose a gender:</label>
<select id="gender" name="gender">
  <option value="boys">Boy</option>
  <option value="girls">Girl</option>
</select>
<input type="radio"   style="vertical-align: middle" id="yage" name="age" value="yage">
<label for="yage">25 years or younger</label><br>
<input type="radio" style="vertical-align: middle" id="mage" name="age" value="mage">
<label for="mage">25 - 30 years</label><br>
<input type="radio" style="vertical-align: middle" id="smlage" name="age" value="mlage">
<label for="smlage">30-35 years </label><br>
<input type="radio" style="vertical-align: middle" id="lage" name="age" value="lage">
<label for="lage">35-40 years </label><br>
<input type="radio" style="vertical-align: middle" id="llage" name="age" value="llage">
<label for="llage">40-45 years </label><br>
<button type="submit">Submit</button>
  

</form>