
<h1>Welcome to matchmaking site</h1>
    
<form method="GET" action={{url}}/upload>
    <button type="submit" class="btn btn-primary"> Upload a bio</button>
</form>
    <form method="GET" action={{url}}/get_file>
    <button type="submit" class="btn btn-primary"> Download a bio</button>
</form>
</form>
<form method="GET" action={{url}}/list_file>
<button type="submit" class="btn btn-primary"> List them all</button>
</form>
<form method="GET" action={{url}}/logout>

    <button type="submit" class="btn btn-primary"> logout</button>
</form>